/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  // color: #4d4d4d;
  min-width: 700px;
  max-width: 50%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  // font-family Arial, Helvetica, sans-serif
  background-color: #242424;
  color: #D58000;
  opacity: 0.8;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

a, a:visited, a:link {
  color: #477A92;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  &:hover {
    background-color: #2A2D2E;
  }
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
